<div class="footer">
    <div><%= documentActor.name %><% if (documentActor.taxId) { %> — <%= _.t('Tax id') %>: <%= documentActor.taxId %><% } %></div>
    <div style="margin-top: 8mm; border-top: 1pt solid #555; width: 60mm;"></div>
    <div style="font-size: 8pt;"><%= _.t('Signature') %></div>
</div>
